@media (min-width:1400px)

{
    #container1-3{
        max-width: 1360px;
       
        margin-left: auto;
        margin-right: auto;

    }
}



@media (min-width:0px)

{
    #container1-3{
        max-width: 1300px;
        
        
        
    }
    
}

@media (min-width:1366px)

{
    #container1-3{
       max-width: 1400px;
        
       

    }
}


.caption{
    height:auto;
    background-color:#B22222;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: auto ;
    grid-template-areas:"item1 item1  " ;


}
.caption img{
   
    width: 100%;
    height: 500px;
}
.grid-tex{
    color: #fff;
    padding: 120px 40px 0px ;
}
.grid-tex h1{
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
   
}
.grid-tex p{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
    padding-top: 40px;
}

@media (max-width:930px)

{
    

        .grid-tex{
            color: #fff;
            padding: 20px 0px 0px 20px;
        } 
    
}
@media (max-width:540px)

{
    

    .caption{
        height:auto;
        background-color:#B22222;
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: auto ;
        grid-template-areas:"item1"
                            "item1" ;
    
    
    }
}


.tabel{
    width: 83%;
    margin: auto;
    margin-bottom: 50px;
}
.tabel p{
    margin: 60px 0px;
}

.tabell{
    height:auto;
    display: grid;
    grid-template-columns: repeat(4 ,2fr);
    grid-template-rows: auto ;
    grid-template-areas:"grid-tabel " ;
    
   
}
.grid-tabel li{
    list-style: none;
}
.tabell h3{
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
    line-height: 1.3;
     color:rgba(94,0,36,1);
    font-weight: 700px;
}
.tabell a{
    color: #0080A8;
    text-decoration: underline;
    transition: all .2s ease-in;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5em;
    padding: 10px;
   
}
@media (max-width:805px)

{
    

    .tabell{
        height:auto;
        display: grid;
        grid-template-columns: repeat(2 ,2fr);
        grid-template-rows: auto ;
        grid-template-areas:"grid-tabel " "grid-tabel ""grid-tabel ""grid-tabel ";
        
       
    } 
    
}



.map{
    width: 83%;
    margin: auto;
    margin-bottom: 50px;

}
.maps{
    height:auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto ;
    grid-template-areas:"grid-map " ;
    
    
    
}
.grid-map h2{
    margin:40px 0px 25px;
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
    line-height: 1.3;
    color:rgba(94,0,36,1);
    font-weight: 700px;
}
.maps p{
    font-size: 16px;
    line-height: 1.5em;
    color: #444444;
}
.grid-map iframe{
   width: 100%;
   height: 500px;

}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.info{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.information{
  height:auto;
  background-color:#B22222;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: auto ;
  grid-template-areas:"item1 item1  " ;


}
h2,h3{
  color:  black;
  padding-left: 60px;
  padding-top: 30px;
}
p{
  color: #fff;
  padding-left: 60px;
}
iframe{
  width: 100%;
}